<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../resources/css/main.css" />
        <title>App</title>
    {% endblock %}
</head>
<body>

<div class="wrapper">
    {% include "header.twig" %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="../resources/js/jquery-1.7.1.min.js"></script>
<script src="../resources/js/main.js"></script>
</body>
</html>
