<footer class="nav">
    <p class="nav">
        <a href="/">Link 1</a>
        <span class="nav-sep">.</span>
        <a href="/">Link 2</a>
        <span class="nav-sep">.</span>
        <a href="/">Link 3</a>
    </p>
</footer>
