<header class="ct-header">
    <div class="ct-inner">
        <div class="ct-nav-wrapper">
            <nav class="ct-nav-main">
                <ul>
                    <li><a href="/">Section 1</a></li>
                    <li><a href="/">Section 2</a></li>
                    <li><a href="/">Section 3</a></li>
                </ul>
            </nav>
        </div>

        <div class="ct-header-items-right">
            <ul class="ct-options">
                <li><a href="/"><span>Option 1</span></a></li>
                <li><a href="/"><span>Option 2</span></a></li>
            </ul>
        </div>
    </div>
</header>
