<header class="ct-header">
    <div class="ct-inner">
        <div class="ct-nav-wrapper">
            <nav class="ct-nav-main">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/post">Feedback</a></li>
                </ul>
            </nav>
        </div>

        <div class="ct-header-items-right">
            <ul class="ct-options">
                {% if user %}
                    <li><a href="/account"><span>{{ user.firstname }}: My Account</span></a></li>
                    <li><a href="/logout"><span>Logout</span></a></li>
                {% else %}
                    <li><a href="/login"><span>Login</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
